[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
brotlipy = "*"
h2 = "*"
hjson = "*"
httpx = "*"
openai = "*"
pyproj = "*"
rapidfuzz = "*"
scikit-learn = "*"
scipy = "*"
tenacity = "*"
tinydb = "*"
xmltodict = "*"

[dev-packages]

[requires]
python_version = "3.11"
